<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exam creator</title>
    <link rel="stylesheet" href="../static/creator.css">
</head>

<body>
<button class="home_button" onclick="location.href='/'">Go to Home</button>

<h1>Create Plan</h1>

<form action="/submit_form" method="POST" enctype="multipart/form-data">
    <!--sending the token over as well-->
    <input type="hidden" name="token" value="{{ token }}">

    <label for="test_name">Test Name:</label>
    <input type="text" id="test_name" name="test_name" placeholder="Enter test name">

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" placeholder="Enter a valid subject">

    <label for="classes">Classes involved (Comma-separated):</label>
    <input type="text" id="classes" name="classes" placeholder="Enter classes (eg. 25/01, 25/05)" required>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Enter location">

    <label for="date">Date:</label>
    <input type="date" id="date" name="date">

    <label for="start_time">Start Time:</label>
    <input type="time" id="start_time" name="start_time">

    <label for="end_time">End Time:</label>
    <input type="time" id="end_time" name="end_time">

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" placeholder="Enter a description of the exam"></textarea>

    <label for="image_file">Upload Image:</label>
    <input type="file" name="image_file" id="image_file" accept="image/*">

    <button type="submit">Submit</button>

    <!--sending error messages back with flash imported from flask-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3 id="success"> {{success}} </h3>
</form>

</body>
</html>
