<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exam finder</title>
    <link rel="stylesheet" href="../static/finder.css">
</head>
    
<body>
<button class="home_button" onclick="location.href='/'">Go to Home</button>

<h1>Find your exams!</h1>
<form action="/search_test" method="POST">
    <label for="class">Class</label>
    <input type="text" id="class" name="class" placeholder="Enter your class">

    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" placeholder="Enter the test subject">

    <button type="submit">Submit</button>
</form>

<div class="table_area"></div>
<h1>Search Results</h1>

<table>
    <thead>
        <tr>
            <th>Test Name</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Location</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam[0] }}</td>
            <td>{{ exam[1] }}</td>
            <td>{{ exam[2] }}</td>
            <td>{{ exam[3] }}</td>
            <td>{{ exam[4] }}</td>
            <td>{{ exam[5] }}</td>
            <!--target blank attribute makes the image open in a new table-->
            <td id="description">{{ exam[6] }} &nbsp; <a href="{{ exam[7] }}" target="_blank">[Image attached]</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>