<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="top-background">
        <div class="top-content"> 
            <h1>ASR exam finder / planner</h1>
        </div>
    </div>

    <div>
        <h2>What do you want to do?</h2>

        <a href="/exam_finder" class="image-button">
            <img src="../static/images/magnifying.jpg" alt="Button 1">
        </a>
        <p><strong>Find your exam</strong></p>

        <a href="/password" class="image-button">
            <img src="../static/images/blueprint.jpg" alt="Button 2">
        </a>
        <p><strong>Create an exam</strong></p>
    </div>

</body>
</html>